body {
    background-color: #6e6454;
}

.gamebody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    background-image: url('room.png');
    background-size: 1000px;
    border: 15px inset #b0a087;
}

.button-container {
    margin:auto;
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.button {
    font-family: 'Press Start 2P', sans-serif;
    display: inline-block;
    background-color: #6e6454;
    color: #dcc9a9;
    border: 5px solid #b0a087;
    padding: 20px 40px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
  
.button:hover {
    background-color: #7697a0;
    transform: scale(1.05);
}
  
.button:active {
    transform: scale(0.95);
}

#dialogBox {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* 初始隱藏 */
    text-align: center;
    z-index: 10;
}

#closeDialog {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* 模態框的樣式 */
.modal {
    display: none; /* 隱藏模態框 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #4e6851;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}