body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #4e6851;
  color: white;
  padding: 50px;
  line-height: 1.6;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #dcc9a9;
  text-shadow: 3px 3px #7697a0;
  margin-bottom: 50px;
}

p {
  font-size: 18px;
  margin-bottom: 15px;
}

.button {
  font-family: 'Press Start 2P', sans-serif;
  display: inline-block;
  background-color: #6e6454;
  color: #dcc9a9;
  border: 5px solid #b0a087;
  padding: 20px 40px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button:hover {
  background-color: #7697a0;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}
